.navbar{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgb(227, 226, 226);
    margin-bottom: 10px;
     font-family: "Open Sans", sans-serif;
     max-height: 90px;
}
.logo {
    width: 80px;
    margin: 10px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-right: 60px;
    font-size: large;
}